{% extends "home/layout.html" %}
{% load form_tags %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/datatables/media/css/dataTables.jqueryui.min.css" %}'>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/datatables/media/js/jquery.dataTables.js" %}'></script>
	<script type="text/javascript" src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js'></script>
{% endblock %}

{% block content %}	

<div class="page-title">Data Entry Stats</div>

<ul id="tabs_a" class="nav nav-tabs">
    <li  {% if request.GET.tab == 'data_entry' %}class='active'{% endif %}>
    	<a href="?tab=data_entry">Data Entry</a>
    </li>
    <li {% if request.GET.tab == 'error_rates' %}class='active'{% endif %}>
    	<a href="?tab=error_rates">Error Rates</a>
    </li>
   
</ul>
<div class="tab-content">
	<a href="/data_entry_stats/?csv=1&tab={{ request.GET.tab }}" class='btn btn-default btn-sm'>Download CSV</a>
	<table class='table table-bordered table-striped table table-condensed' id='tab_id'>
		<thead>
			<tr>
				<td>#</td>
				<th>User</th>
				<th>Today</th>
				<th>Yesterday</th>
				<th>This Week</th>
				<th>Last Week</th>
				<th>This Month</th>
				<th>Last Month</th>
			</tr>
		</thead>
		<tbody>
			{% for d in stats %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ d.user.first_name}} {{ d.user.last_name }} ({{d.user.username}})</td>
				{% if request.GET.tab == 'error_rates' %}	
					<td>{{ d.acc_today }}</td>
					<td>{{ d.acc_yesterday }}</td>
					<td>{{ d.acc_this_week }}</td>
					<td>{{ d.acc_last_week }}</td>
					<td>{{ d.acc_this_month }}</td>
					<td>{{ d.acc_last_month }}</td>
				{% else %}
					<td>{{ d.today }}</td>
					<td>{{ d.yesterday }}</td>
					<td>{{ d.this_week }}</td>
					<td>{{ d.last_week }}</td>
					<td>{{ d.this_month }}</td>
					<td>{{ d.last_month }}</td>					
				{% endif %}
			</tr>
			{% endfor %}
			
		</tbody>
	</table>

</div>
<script type="text/javascript">
$(document).ready(function() {
	var oTable = $('#tab_id').dataTable({
		"processing": true,
		"paging":false,
		"buttons": ['copy', 'excel']
	});
});
</script>

{% endblock %}
