{% load staticfiles %}
{% load form_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        
        <title>Hepatitis B Viral Load</title>
        <link rel="Shortcut Icon" href='{% static "home/images/favicon.png" %}' />
        <link href='{% static "home/tisa-admin/assets/css/style.css"%}' rel="stylesheet" media="screen">
        <link rel="stylesheet" href='{% static "home/vendor/jquery-ui/themes/base/jquery-ui.min.css" %}'>
             

        <link href='{% static "home/vendor/metisMenu/dist/metisMenu.min.css" %}' rel="stylesheet">
        <link href='{% static "home/sb-admin-2/dist/css/timeline.css" %}' rel="stylesheet">
        <link href='{% static "home/sb-admin-2/dist/css/sb-admin-2.css" %}' rel="stylesheet">       
       <!-- <link href="../bower_components/morrisjs/morris.css" rel="stylesheet"> -->
        <link href='{% static "home/vendor/font-awesome-min/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">

        <link rel="stylesheet" href='{% static "home/vendor/bootstrap/dist/css/bootstrap.min.css" %}'>
        <link rel="stylesheet" href='{% static "home/css/app.css" %}'>
        {% block css %}
        {% endblock %}

        <script type="text/javascript" src='{% static "home/vendor/jquery/dist/jquery.min.js" %}'></script>
        <script type="text/javascript" src='{% static "home/vendor/bootstrap/dist/js/bootstrap.min.js" %}'></script>
        <script type="text/javascript" src='{% static "home/vendor/jquery-ui/jquery-ui.min.js" %}'></script>
        <script type="text/javascript" src='{% static "home/vendor/metisMenu/dist/metisMenu.min.js" %}'></script>

        <script type="text/javascript" src='{% static "home/sb-admin-2/dist/js/sb-admin-2.js" %}'></script>

        <script type="text/javascript" src='{% static "home/js/app.js" %}'></script>

        {% block js %}
        {% endblock %}

        <link href='{% static "home/tisa-admin/assets/icons/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" media="screen">
            <!-- ionicons -->   
        <link href='{% static "home/tisa-admin/assets/icons/ionicons/css/ionicons.min.css" %}' rel="stylesheet" media="screen">
                
    
    <!-- page specific stylesheets -->
                
        <!-- main stylesheet -->      
        
       
    </head>
    <body class="side_nav_hover theme_b">
        <!-- top bar -->
        <header class="navbar navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <div class="navbar-header">
                   
                        <img src='{% static "home/images/logo.png" %}' >                        
                        <span id='main-link'>Hep B LIMS</span>
                        
                   
                </div>

                <ul class="nav navbar-nav navbar-left">

                    <li><a href="{% url 'home_page' %}"><span class="vl-menu-items">Home</span></a></li>
                    {% if perms.samples %}
                    <li class="user_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           
                            <span class="vl-menu-items">Samples</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            
                            <li><a href="{% url 'samples:create' %}">Create</a></li>
                            <li><a href="{% url 'samples:list' %}">List</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    {% if perms.samples.add_verification %}
                     <li class="user_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           
                            <span class="vl-menu-items">Approvals<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>
                                <a href="/samples/verify_list?verified=0"> 
                                    View Pending 
                                    <span class="badge badge-default">
                                       {% quick_stats request 'approvals' 'all' 'all' 'pending' %}
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/samples/verify_list?verified=1"> 
                                    View Completed
                                    <span class="badge badge-default">
                                       {% quick_stats request 'approvals' 'all' 'all' 'completed' %}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    {% if perms.worksheets %}
                    <li class="user_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="vl-menu-items">Lab</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                       
                            <li class="dropdown-headers">Set Reagent Info</li>
                            <li><a href="{% url 'worksheets:reg_info' 'A' %}">For Abbott</a></li>
                            <li><a href="{% url 'worksheets:reg_info' 'R' %}">For Roche CAP/CTM</a></li>
                            <li class="dropdown-headers">Create worksheet</li>
                            <li><a href="{% url 'worksheets:create' 'A' %}">For Abbott</a></li>
                            <li><a href="{% url 'worksheets:create' 'R' %}">For Roche CAP/CTM</a></li>
                            <li class="dropdown-headers">Upload Result</li>
                            <li><a href="/worksheets/list/?type=A&tab=pending_r">For Abbott</a></li>
                            <li><a href="/worksheets/list/?type=R&tab=pending_r">For Roche CAP/CTM</a></li>
                            <li class="dropdown-headers">Lists</li>
                            <li><a href="/worksheets/list/?tab=all">View all</a></li> 
                        </ul>
                    </li>
                    {% endif %}
                    {% if perms.results %}
                    <li class="user_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="vl-menu-items">Results Auth</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="{% url 'worksheets:authorize_list' 'A' %}">For Abbott</a></li>
                            <li><a href="{% url 'worksheets:authorize_list' 'R' %}">For Roche CAP/CTM</a></li>
                            <li><a href="{% url 'results:authorize_sample' %}">For Sample</a></li>
                        </ul>
                    </li>
                    <li>
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="vl-menu-items">Results Release</span>
                            <span class="caret"></span>
                        </a> 
                         <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="{% url 'results:release_list' 'A' %}">For Abbott</a></li>
                            <li><a href="{% url 'results:release_list' 'R' %}">For Roche CAP/CTM</a></li>
                            <li><a href="{% url 'results:release_sample' %}">For Sample</a></li>
                            <li><a href="{% url 'samples:release_rejects' %}">Rejected samples</a></li>
                         </ul> 
                     </li>
                     
                     <li>
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="vl-menu-items">Intervention</span>
                            <span class="caret"></span>
                        </a> 
                         <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="{% url 'results:intervene_list' %}">Results</a></li>
                            <li><a href="{% url 'samples:intervene_list' %}">Rejected samples</a></li>  
                         </ul> 
                     </li>
                {% endif %}
                
                    <li>
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="vl-menu-items">more</span>
                            <span class="caret"></span>
                        </a> 
                         <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="{% url 'samples:generate_forms' %}">Generate forms</a></li>
                            <li><a href="{% url 'samples:reports' %}">Reports</a></li> 
                         </ul> 
                  </li>
                    
                </ul>
               
                <ul class="nav navbar-nav navbar-right">
                    <li class="top_links form-inline" id="search-sect">
                        <input  type="text" class="form-control input-sm" id="search_id" placeholder="Search...">
                        <select class="form-control input-sm hidden" id="facility_id_search" name="facility" > {% facility_dropdown %}
                        </select>
                       
                        <ul class="dropdown-menu" id="search-list" >
                            <li ><a class="search_link" section ="samples" href="{% url 'samples:search' %}" >Sample</a></li>
                            <li ><a class="search_link" section ="results" href="{% url 'samples:search' %}" >Result</a></li>
                            <li ><a class="search_link" section ="samples_env" href="{% url 'samples:search' %}" >Envelope</a></li>
                            <li ><a class="search_link" section ="verify_env" href="{% url 'samples:search' %}" >Verify Envelope</a></li>
                            <li ><a class="search_link" section ="worksheets" href="{% url 'worksheets:list' %}" >Worksheet</a></li>
                            <li><a class="search_link" section="forms" href="{% url 'samples:forms' %}">Forms</a></li>
                           <!--  <li ><a class="search_link" href="{% url 'results:list' %}" >Results</a></li> -->
                        </ul>                        
                    </li>
                    
                    <li class="user_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           
                            <span class="navbar_el_icon ion-person"></span> {{ request.user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{% url 'password_change' %}">Change password</a></li>
                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" class="slidebar-toggle"><span class="navbar_el_icon ion-navicon-round"></span></a></li>
                </ul>
            </div>
        </header>
        
        <!-- main content -->
        <div id="main_wrapper">
            <div class="page_content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            {% block content %}
                            {% endblock %}
                        </div>

                        <!-- <div class="col-lg-1"><span class='stat-count'>Lab: {{ request.user.userprofile.medical_lab}}</span></div> -->
                    </div>
                </div>
            </div>      
        </div>
        <script src='{% static "home/tisa-admin/assets/js/tisa_common.js"%}'></script>
        
      
        <style type="text/css">
        #main_wrapper{
            margin-left: 20px;
        }
        #main-link{
            vertical-align: bottom;
            font-size: 20px;
            color: #FFF;
            font-weight: lighter;
        }

        #main-link:hover{
            text-decoration: none;
        }

        .stat-count{
            font-size: 20px;
        }

        .dropdown-headers{
            color:#A9CFF5;
            padding-left:5px;
            text-transform: uppercase;
        }

        .vl-menu-items{
            text-transform: uppercase;
        }
        .nav-tabs{
            background-color: #FFFFFF;
        }

       
        </style>

        <script type="text/javascript">
        $(function() {
          /*  window.setTimeout(function(){
                window.location.href = "{% url 'logout' %}";
            }, 3600000);*/

            $(".search_link").click(function(){
                var link = $(this).attr("href");
                var section = $(this).attr("section");
                var search_val = $("#search_id").val();
                var extras = "";
                if(section=='results'){
                    $('#facility_id_search').removeClass('hidden'); 
                    return false;                  
                }else{
                     $('#facility_id_search').addClass('hidden'); 
                    if(section=='samples_env'){
                         extras = "&search_env=1";                    
                    }else if(section=='verify'){
                        extras = "&approvals=1";
                    }else if(section=='verify_env'){
                        extras = "&approvals=1&search_env=1";
                    }
                    //alert(search_val);
                    window.location.href = link+"?search_val="+search_val+""+extras;
                    return false;
                    //return window.location.assign(link+"?search_val="+search_val);
                }    
             }); 
            //on change of facility, submit the form
            $("#facility_id_search").change(function(){
                var search_val = $("#search_id").val();
                var facility_id = $(this).val();
                var extras = "&results=1&facility_id=" + facility_id;
                if(search_val != '' && facility_id != ''){
                   window.location.href = "/samples/search/?search_val="+search_val+""+extras; 
                }else{
                    return false;
                }
                
            });
        });


        $("#search-sect").mouseover(function(){ $("#search-list").show(); });

        $("#search-sect").mouseout(function(){ $("#search-list").hide(); });
        </script>
    </body>
</html>