DEBUG=True
TIMEZONE=Africa/Kampala
IRRDS_ALIS_BARCODE_SEARCH_URL=https://irrds.cphl.go.ug/api/alis/barcode/search
IRRDS_ALIS_BARCODE_SEARCH_TOKEN=

#data base engine options : [sqlite, mysql, postgresql, oracle]
DB_ENGINE=mysql
DB_NAME=xxx
DB_USER=xxx
DB_PASSWORD=xxx
DB_HOST=localhost
