@font-face {
    font-family: OpenSans;
    src: url('fonts/fonts-open-sans/OpenSans-Regular.ttf');
}

body{
	font-family: OpenSans;
}

.w-xs{
	width: 90px
}

.w-sm{
	width: 200px
}

.w-md{
	width: 300px
}

.required_asta{
	color: #d9534f;
}

.input-xs{
	height: 30px;
	font-size: 11px;
}

.vl-slash{
	font-size:24px;
	vertical-align: bottom;
}

.sub-title{
	color: #808080;
	text-transform: uppercase;
	font-weight: bold;
}

.page-title{
	text-transform: uppercase;
	font-weight: bolder;
}

.form-group > label,.form-inline > label{
	font-weight: lighter;
}

.hi-lite{
	color: #641E16;
	font-size: 18px;
	font-weight: bold;
}
