<ul id="tabs" class="nav nav-tabs" data-tabs="tabs" >
	<li id="p_samples" tab="1" class='active lab-tabs' title='Pending'><a href="#" >Pending Samples</a></li>
	<li id="r_samples" tab="2" class='lab-tabs' title='Repeat Samples'><a href="#" >Repeat Samples</a></li>
	<li id="s_samples" tab="3" class='lab-tabs' title='Selected Samples'><a href="#" >Selected Samples (<span class='ng-cloak' ><% selected_samples.length %></span>)</a></li>		    
</ul>
<div class="tab-content">
	<div class="tab-pane active" >
		<div style='height: 500px;overflow-y: auto;' >
			<div id='lab-spaces1' class='lab-spaces'>
				<div class='row'>
					<div class='col-md-6'>
						<span class='sm-label'>search by envelope/box number</span>
						<input type="text" class="form-control input-sm w-md" placeholder="enter number and press enter" ng-model='envelope_number' ng-keypress="getSamples($event,'envelope')">
					</div>
					<div class='col-md-6'>
						<span class='sm-label'>search by sample form number</span>
						<input type="text" class="form-control input-sm w-md" placeholder="enter number and press enter" ng-model='sample_search' ng-keypress="getSamples($event,'sample')">
					</div>
				</div>
				<br>				
				
				<table class="table table-striped table-condensed table-bordered" id="samples-table" >
					<thead>
						<th>ART Number</th>
						<th>Sample ID</th>
						<th>Location ID</th>
						<th>Form</th>
						<th>Instrument ID</th>
					</thead>
					<tbody>
						 <tr ng-repeat="sample in samples" >
		                    <td class="ng-cloak"><% sample.art_number %></td>
		                    <td class="ng-cloak"><% sample.vl_sample_id %></td>
		                    <td class="ng-cloak"><% sample.locator_id %></td>
		                    <td class="ng-cloak"><% sample.form_number %></td>
		                    <td><input id="sss<% sample.index %>" tabindex="<% sample.index %>" class="form-control input-sm w-md samples" type="text" name="instrument<% sample.id %>" value="" ng-keypress="setSample($event, sample.index)" ng-model="sample.instrument_id"></td>
		                </tr> 
					</tbody>
				</table>
			</div>

			<div id='lab-spaces2' class='lab-spaces' style="display:none">
				<table class="table table-striped table-condensed table-bordered" id="samples-table" >
					<thead>
						<th>ART Number</th>
						<th>Sample ID</th>
						<th>Location ID</th>
						<th>Form</th>
						<th>Instrument ID</th>
					</thead>
					<tbody>
						 <tr ng-repeat="r in repeat_samples" >
		                    <td class="ng-cloak"><% r.art_number %></td>
		                    <td class="ng-cloak"><% r.vl_sample_id %></td>
		                    <td class="ng-cloak"><% r.locator_id %></td>
		                    <td class="ng-cloak"><% r.form_number %></td>
		                    <td><input id="rrr<% r.index %>" tabindex="<% r.index %>" class="form-control input-sm w-md samples" type="text" name="instrument<% r.id %>" value="" ng-keypress="setRepeatSample($event, r.index)" ng-model="r.instrument_id"></td>
		                </tr> 
					</tbody>
				</table>
			</div>

			<div id='lab-spaces3' class='lab-spaces' style="display:none">
				<table class="table table-striped table-condensed table-bordered" id="samples-table" >
					<thead>
						<th>ART Number</th>
						<th>Sample ID</th>
						<th>Location ID</th>
						<th>Form</th>
						<th>Instrument ID</th>
					</thead>
					<tbody>
						 <tr ng-repeat="s in selected_samples" >
		                    <td class="ng-cloak"><% s.art_number %></td>
		                    <td class="ng-cloak"><% s.vl_sample_id %></td>
		                    <td class="ng-cloak"><% s.locator_id %></td>
		                    <td class="ng-cloak"><% s.form_number %></td>
		                    <td class="ng-cloak"><% s.instrument_id %>
		                    	<input type="hidden" name="instrument<% s.id %>" value="<% s.instrument_id %>">
		                    	<input type="hidden" name="samples" value="<% s.id %>">
		                    </td>

		                </tr> 
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(".lab-tabs").click(function(){
	var tab = $(this).attr('tab');
	$(".lab-spaces").hide();
	$("#lab-spaces"+tab).show();
	$(".lab-tabs").removeClass('active');
	$(this).addClass('active');

});

</script>