{% extends "home/layout.html" %}
{% load form_tags %}
{% load staticfiles %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/jquery-barcode/jquery-barcode.js" %}'></script>
{% endblock %}

{% block content %}	
	<span class="page-title">attach samples</span>		
	<div class="panel panel-default">
		<div class="panel-body">
			
			<form action="{% url 'worksheets:attach_samples' worksheet.id %}" method="post" role="form">
				{% csrf_token %}
				<div class="worksheet">
					<div class="row" >
						<div class="col-md-4">Worksheet Ref Number: 
							<u>{{ worksheet.worksheet_reference_number }}</u>
						</div>
						<div class="col-md-4">Machine Type: 
							<u>{{ worksheet.get_machine_type_display }}</u>
						</div>
						<div class="col-md-4">Sample Type: 
							<u>{{ worksheet.get_sample_type_display }}</u>
						</div>
					</div>					
					<br>
					<div class="worksheet-box">
						<div class="form-inline row">
							<input type="text" id="samples_number0" class="form-control input-sm" value="{{ sample_limit }}" size="1" maxlength="2"> 
							<a class="btn btn-sm btn-danger" id="select0" >Select</a>
						</div>
						<br>
						<div class="row ">
							<div class="col-xs-1 vlbarcodes-wrapper">
								1<br>
								Negative Control<br>
								NC							
							</div>
							<div class="col-xs-1 vlbarcodes-wrapper">
								2<br>
								Positive Control<br>
								PC
							</div>
							<div class="col-xs-1 vlbarcodes-wrapper">
								3<br>
								HPC
							</div>

							{% if worksheet.include_calibrators %}
								{% for i in "xxxxxxxx" %}
									{% with runner=forloop.counter|add:3 %}
									<div class="col-xs-1 vlbarcodes-wrapper">
										{{ runner }}<br>
										Calibrator
									</div>
									{% if runner|divisibleby:6 %}</div><div class="row">{% endif %}
									{% endwith%}
								{% endfor %}
							{% endif %}


							{% for sample in samples %}
								{% with runner=forloop.counter|add:sample_pads %}
								<div class="col-xs-1 vlbarcodes-wrapper">
									{{ runner }}<br>
									<span class='sm-label'>Pat ART #</span>: {{ sample.patient.art_number }}<br>
									<span class='sm-label'>Sample ID</span>: {{ sample.vl_sample_id }}<br>
									<span class='sm-label'>Location ID</span>: {{ sample.locator_category }}{{ sample.envelope.envelope_number }}{{ sample.locator_position }}<br>
									<span class='sm-label'>Form #</span>: {{ sample.form_number }}

									<div class="vlbarcodes" value="{{ sample.vl_sample_id }}"></div>
									<input type="checkbox" name="samples" class="sample" value="{{ sample.id }}">
								</div>
								{% if runner|divisibleby:6 %}</div><div class="row">{% endif %}
								{% endwith %}
								
							{% endfor %}
						</div>
					</div>
					<br>
					Samples to be repeated
					<div class="worksheet-box">
						<div class="form-inline row">
							<input type="text" id="samples_number1" class="form-control input-sm" value="" size="1" maxlength="2"> 
							<a class="btn btn-sm btn-danger" id="select1" >Select for repeat test</a>
						</div>
						<br>
						<div class="row">
						{% for sample in repeat_samples %}
							{% with runner=forloop.counter %}
							<div class="col-xs-1 vlbarcodes-wrapper">
								{{ runner }}<br>
								<span class='sm-label'>Pat ART #</span>: {{ sample.patient.art_number }}<br>
								<span class='sm-label'>Sample ID</span>: {{ sample.vl_sample_id }}<br>
								<span class='sm-label'>Location ID</span>: {{ sample.locator_category }}{{ sample.envelope.envelope_number }}{{ sample.locator_position }}<br>
								<span class='sm-label'>Form #</span>: {{ sample.form_number }}

								<div class="vlbarcodes" value="{{ sample.vl_sample_id }}"></div>
								<input type="checkbox" name="samples" class="repeat_sample" value="{{ sample.id }}">
							</div>
							{% if runner|divisibleby:6 %}</div><div class="row">{% endif %}
							{% endwith %}
							
						{% endfor %}
					</div>
				</div>
				<br>
				
				<input type="submit" value="save" class="btn btn-danger btn-submit ">
				
			</form>
		</div>
	</div>
	<script type="text/javascript">
	 $(function() {
		$(".vlbarcodes").each(function (index){
            var val = $(this).attr("value");
            $(this).barcode(val, "code128",{showHRI: false,posX: 4});
        });

        $('#select0').click(function(){
        	$(".sample").attr("checked", false);
        	var sample_number = $('#samples_number0').val();
        	$(".sample").slice(0,sample_number).attr("checked", true);
        })

        $('#select1').click(function(){
        	$(".repeat_sample").attr("checked", false);
        	var sample_number = $('#samples_number1').val();
        	$(".repeat_sample").slice(0,sample_number).attr("checked", true);
        })

        //$(".sample").prop("checked", "true")
      })

	</script>
{% endblock %}