{% extends "home/layout.html" %}
{% load form_tags %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/datatables/media/css/dataTables.jqueryui.min.css" %}'>
	<link rel="stylesheet" href='{% static "home/vendor/select2/dist/css/select2.min.css" %}'>
	<style>
		.special_width,.input-sm {
			width: 299px;
		}
	</style>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/datatables/media/js/jquery.dataTables.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/select2/dist/js/select2.min.js" %}'></script>
{% endblock %}

{% block content %}	

<div class="page-title">Samples for first time worksheet</div>


<div id="content" class="tab-content" style="min-height:400px">
	<div class="row">
		<div class="col-md-6">
			<div class="table-resonsive">				
										
					<br><br><table class='table table-bordered table-striped table table-condensed' id='create_worksheet_table'>

						<thead>
							<tr><td></td>
								<th>Envelope #</th>						
								<th>Program</th>
							</tr>
						</thead>
					</table>
			</div>
		</div>
		<div class="col-md-6">
				<span id="sub-t">Selected Envelopes</span>
				<form method='POST' action="{% url 'worksheets:create' sample_type %}" id="create_wksht">
					 {% csrf_token %}
					 <div class="row">
						<div class="col-md-4 list" id="list_col">
					 		<div class="form-group  required">
								<label for="generated_by_id">Prepared for loading by</label>
									<select class="form-control select2" name="generated_by_id" required="true" id="generated_by_id" style="width:;">
										 <option value="">select tech</option>
								            {% for u in users %}
								            <option value="{{u.id}}">{{ u.first_name}} {{u.last_name}}</option>
								            {% endfor %}
						       		</select>
						    </div>
					 	</div>
					 	<div class="col-md-4">
					 		<div class="form-group">
					 			
								<input type="submit" class="btn btn-xs btn-danger" value="Add ll selected to worksheet" style="margin-top:24px;" />
							</div>
					 	</div>
					</div>
					<div class="form-inline required" id="envelopes_container" style="margin-top:5px;">
										
					
					</div>
				</form>
				
				
		</div>
	</div>
	
</div>

<script type="text/javascript">
	$(document).ready(function() {	
		
		$('#list_col .select2').select2();
		var table = $('#create_worksheet_table').dataTable({
			"processing": true,
			"serverSide": true,
			"order": [[ 1, "desc" ]],
			"ajax": "/worksheets/create_worksheet_list_json/?sample_type={{request.GET.sample_type }}{% if global_search %}&global_search={{ global_search }}{% endif %}",
		});

		//$("#envelopes_container .romve_env").click(function(){
		$('#envelopes_container').on('click', '.romve_env', function(e){
            var id = $(this).attr('id');
            $("#rem_row"+id).remove();

            /*$(this).parent().before($cloned_row.attr("id","envelope_row" + envelope_row_index));
            $("#envelope_row" + envelope_row_index + " :input").each(function(){
                $(this).attr("id",$(this).attr("id") + envelope_row_index);
                $('#envelope-name'+ envelope_row_index).val('');
            });
            $("#a_remove_envelope_row" + envelope_row_index).click(function(){
                $(this).closest("div").remove();
            });*/
        }); 
		
	});
	function addEnvelope(env_id,env_num) {
	  	$('<div id="rem_row'+env_id+'"><input type="text" class="envelopes hidden" name="envelope_ids" value="'+env_id+'">'+env_num+' <a class="romve_env" id="'+env_id+'" href="#" class=""><i class="fa fa-remove"></i></a> </div>').appendTo($('#envelopes_container'));
	}

</script>
{% endblock %}
