{% extends "home/layout.html" %}
{% load form_tags %}
{% load staticfiles %}

{% block content %}	

<div class="page-title">Worksheets</div>

<div class="panel panel-default">
	<table class='table table-bordered table-striped table table-condensed' id='tab_id'>
		<thead>
			<tr>
				<th>Worksheet Ref Number</th>
				<th>Machine Type</th>
				<th>Sample Type</th>
				<th>Date Created</th>				
				<th />
			</tr>
		</thead>
		<tbody>
		{% for worksheet in worksheets %}
			<tr>
				<td>{{ worksheet.worksheet_reference_number }}</td>
				<td>{{ worksheet.get_machine_type_display }}</td>
				<td>{{ worksheet.get_sample_type_display }}</td>
				<td>{{ worksheet.created_at | date:"d M Y" }}</td>

				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							Options 
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{% url 'worksheets:show' worksheet.id %}">view</a></li>
							<li><a href="javascript:windPop('{% url 'worksheets:vlprint' worksheet.id %}')">print</a></li>
							<li><a href="javascript:windPop('{% url 'worksheets:pdf' worksheet.id %}')">pdf</a></li>
							<li><a href="#">edit</a></li>
							<li><a href="#">upload results</a></li>						
							
						</ul>
					</div>
				</td>
				
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}