{% extends "home/layout.html" %}
{% load form_tags %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/datatables/media/css/dataTables.jqueryui.min.css" %}'>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/datatables/media/js/jquery.dataTables.js" %}'></script>
{% endblock %}

{% block content %}	

<div class="page-title">Worksheets</div>

<div class="panel panel-default">
	<ul id="tabs_a" class="nav nav-tabs">
	    <li {% if request.GET.tab == 'all' %}class='active'{% endif %}>
	    	<a href="?tab=all&sample_type={{request.GET.sample_type}}">All</a>
	    </li>
	    {% if request.GET.sample_type == 'D' %}
	    <li {% if request.GET.tab == 'pending_e' %}class='active'{% endif %}>
	    	<a href="?tab=pending_e&sample_type={{request.GET.sample_type}}">Pending Elusion</a>
	    </li>
	    {% endif %}
	    
	    <li {% if request.GET.tab == 'pending_r' %}class='active'{% endif %}>
	    	<a href="?tab=pending_r&sample_type={{request.GET.sample_type}}">Pending Results</a>
	    </li>
	</ul>
	<div class="tab-content">
		<table class='table table-bordered table-striped table table-condensed' id='tab_id'>
			<thead>
				<tr>
					<th>Worksheet Ref Number</th>
					<th>Envelopes</th>
					<th>Sample Type</th>
					<th>Program</th>
					<th>Timestamp</th>
					<th>Date Created</th>
					<th>Type</th>
					<th>Elutted/Pippetted at</th>
					<th>Loaded</th>
					<th>Loaded at</th>
					<th>Stage</th>				
					<th/>
				</tr>
			</thead>
		</table><br><br>
	</div>
	
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Worksheet</h4>
      </div>
      <div class="modal-body">
        <p id="delete_details"></p>
        <input type="hidden" value="" id="delete_pk">
        <input id="delete_reason" type="text" name="delete_reason" class="form-control">
      </div>
      <div class="modal-footer">
      	<button class="btn btn-danger" id="delete">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {	
	{% if request.GET.tab == 'pending_e' %}
		var oTable = $('#tab_id').dataTable({
			"processing": true,
			"serverSide": true,
			"columnDefs": [
            {
                "targets": [7,8,9,10],
                "visible": false
            }
        ],
			"order": [[ 2, "desc" ]],
			"ajax": "/worksheets/list_json/?{% if machine_type %}machine_type={{machine_type}}{% endif %}&tab={{request.GET.tab}}&sample_type={{request.GET.sample_type}}",
		});
		{% elif request.GET.tab == 'pending_l' %}
		var oTable = $('#tab_id').dataTable({
			"processing": true,
			"serverSide": true,
			"columnDefs": [
            {
                "targets": [9,10],
                "visible": false
            }
        ],
			"order": [[ 2, "desc" ]],
			"ajax": "/worksheets/list_json/?{% if machine_type %}machine_type={{machine_type}}{% endif %}&tab={{request.GET.tab}}&sample_type={{request.GET.sample_type}}",
		});
	 {% else %}
	 var oTable = $('#tab_id').dataTable({
			"processing": true,
			"serverSide": true,
			"columnDefs": [
            {
                'targets': 4, type: 'date-euro',
                "targets": [7,8,9,10],
                "visible": false
            }
        ],
			"order": [[ 2, "desc" ]],
			"ajax": "/worksheets/list_json/?{% if machine_type %}machine_type={{machine_type}}{% endif %}&tab={{request.GET.tab}}&sample_type={{request.GET.sample_type}}",
		});
	{% endif %}
});

//
function deleteWorksheet(pk, ref_num){
	//alert("Are you sure that you want to delete worksheet "+pk);
	$("#myModal").modal('show');
	$("#delete_reason").val("");
	$("#delete_details").html("You are about to delete worksheet <b>"+ref_num+"</b>, Please give reason below:");
	$("#delete_pk").val(pk);
}

$("#delete").click(function(){
	var delete_reason = $("#delete_reason").val();
	if (delete_reason==''){
		alert("Reason for deleting required");
		return false;
	}else{
		var pk = $("#delete_pk").val();
		var params = {csrfmiddlewaretoken:"{{ csrf_token }}", delete_reason:delete_reason};
		$.post("/worksheets/delete/"+pk+"/", params).done(function( data ) {
			$("#myModal").modal('hide');
		    alert(data);		    
		});

	}
})
</script>
{% endblock %}
