{% load form_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <title>Viral Load</title>
	    <link rel="Shortcut Icon" href='{% static "home/images/favicon.png" %}' />
	    <link rel="stylesheet" href='{% static "home/vendor/bootstrap/dist/css/bootstrap.min.css" %}'>	 
	    <link href='{% static "home/vendor/font-awesome-min/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href='{% static "home/css/app.css" %}'>

	    <script type="text/javascript" src='{% static "home/vendor/jquery/dist/jquery.min.js" %}'></script>
	    <script type="text/javascript" src='{% static "home/vendor/bootstrap/dist/js/bootstrap.min.js" %}'></script>
	    <script type="text/javascript" src='{% static "home/js/app.js" %}'></script>
	    <script type="text/javascript" src='{% static "home/vendor/jquery-barcode/jquery-barcode.js" %}'></script>

	</head>
	<style type="text/css">

	#samples-table{
		width:800px;
	}

	</style>
	<body>
		<div class="worksheet" id="content" >

			{% include "worksheets/_worksheet_details.html" %}
				<br>
			{% if request.GET.preview %}
				{% include "worksheets/_preview.html" %}
			{% elif worksheet.machine_type == 'C' %}
				
				{% else %}
					<a class="btn btn-danger" href="javascript:windPop('/worksheets/vlprint/{{ worksheet.pk }}/{% if request.GET.show_results %}?show_results=1{% endif %}')">Print</a><br><br>
					<table class="table table-striped table-condensed table-bordered samples-table" id="samples-table" >
						<thead>	
							<tr>
								<th>Location ID</th>
								<th>Instrument/Tube ID</th>
								<th>Art Number</th>
							</tr>
						</thead>
						<tbody>
							{% for s in worksheet_samples %}
							{% if forloop.counter0|divisibleby:5 %}
							<tr><td colspan='7' style='border-bottom: solid 1px;'>&nbsp;</td></tr>
							{% endif %}
							<tr>
								<td>{{ s.sample_identifier.barcode }}</td>						
								<td>{{ s.instrument_id }}</td>
								<td>{{ s.reception_art_number }}</td>
																
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}

					<br>
					<a class="btn btn-danger" href="javascript:windPop('/worksheets/vlprint/{{ worksheet.pk }}/{% if request.GET.show_results %}?show_results=1{% endif %}')">Print</a>
					

				</div>
						
			
		</div>
	</body>


	<script type="text/javascript">
	 $(function() {
		$(".vlbarcodes").each(function (index){
            var val = $(this).attr("value");
            $(this).barcode(val, "code128",{showHRI: false,posX: 4});
        });
         window.print();
         window.onfocus=window.close();
      });
	</script>