{% extends "home/layout.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/select2/dist/css/select2.min.css" %}'>
	<style>
		.special_width,.input-sm {
			width: 299px;
		}
	</style>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/select2/dist/js/select2.min.js" %}'></script>

	<script type="text/javascript" src='{% static "home/vendor/moment/min/moment.min.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/combodate/src/combodate.js" %}'></script>
{% endblock %}
{% block content %}	
	<span class="page-title">Received Samples</span>
	
	{% csrf_token %}	
	<style >
	.form-group > label{
		font-weight:700
	}
	</style>
	<div class="panel panel-default" style="overflow-y:auto">
		<div class="panel-body">
			<div class="worksheet" id="content" >
				<div class="row">
					<div class="col-lg-6">
						<form action=" {% url 'samples:create_range'  %}" method="post" id="create_range" role="form">
							{% csrf_token %}
							<div class="form-group hidden">
								<label for="accessioned_at">Accessioned On</label>
								<input type="text" name="accessioned_at" class="form-control date56"  id="accessioned_at" style="width:203px" >								
							</div>
							<div class="form-group  required">
 
								<select class="form-control" name="year" id="year" required="true" style="width:100px; float: left; margin-right: 5px;">
								 <option value="">Year</option>
									{% for y in years %}
									    <option value="{{ y }}">{{ y }}</option>
									{% endfor %}
									</select>
									<select class="form-control" name="month" id="month" required="true" style="width:100px;">
								 <option value="">Month</option>
									{% for m in months %}
									    <option value="{{m}}">{{ m }}</option>
									{% endfor %}
									</select>
								
							</div>
							<div class="form-group required">
								<label for="id_sample_type">Program:</label>
								<select name="program_code" class="form-control" required="true" id="program_code">
								  <option value="" selected="">---------</option>

								  <option value="1">HepB</option>

								  <option value="2">HepC</option>

								</select>
							</div>
							<div class="form-group  required">
								<label for="accessioned_by">Accessioned By</label>
								<select class="form-control select2" name="accessioned_by" required="true" id="accessioned_by">
									 <option value="">select users</option>
							            {% for u in users %}
							            <option value="{{u.id}}">{{ u.first_name}} {{u.last_name}}</option>

							            {% endfor %}
					       		</select>
					       	</div>
							<div class="form-group  required">
								<label for="lower_limit">Starting Envelope</label>
								 <input type="text" name="lower_limit" required="true" class="form-control" id="lower_limit">									
							</div>
							<div class="form-group  required">
								<label for="number_of_envelopes">No. Envelopes</label>
								 <input type="text" name="number_of_envelopes" required="true" class="form-control" id="number_of_envelopes">									
							</div>
							<div class="form-group  required">
								<label for="upper_limit">Last Envelope</label>
								 <input type="text" name="upper_limit" required="true" class="form-control" id="upper_limit">									
							</div>
							
							
					       	<div class="form-group required">
								<label for="id_sample_type">Sample type:</label>
								<select name="id_sample_type" class="form-control" required="true" id="id_sample_type" disabled="disabled">
								  <option value="" selected="">---------</option>

								  <option value="P">Plasma</option>

								  <option value="D">DBS</option>

								</select>
								<input type="hidden" name="sample_type" id="sample_type" value="None">
							</div>
					       	<input type="submit" value="Save" class="btn btn-danger">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">
		$(document).ready(function() {	
		 	//$('.select2').select2();
		 	$('.select2').val({{logged_in_user_id}}).change();
		 	$(".date").datepicker({
				dateFormat: "yy-mm-dd",
				maxDate: 0
			});
			$(this).val({{logged_in_user_id}});
		 	$("#year, #month").change(function(){
		 		const d = new Date();
				let year = d.getFullYear().toString().substr(-2);
				let month = d.getMonth()+1;
				var selected_year = $('#year').val();
				var selected_month = $('#month').val();
				if(selected_year.length  && selected_month.length){
					if(parseInt(selected_year) == parseInt(year) && parseInt(selected_month) > month){
						alert('Month cannot not be in future');
						$("#month").val('');
					}
				}
				
		 	});
		 	$("#lower_limit").change(function(){
	    		var lower_limit_val = $(this).val();
	    		if (isNaN(lower_limit_val)) {
				    alert('Nokorakyi? This is expected to be a number, text is give');
				    $(this).val('');
				 }
	    		if(lower_limit_val.length == 10){
	    			var env_number = lower_limit_val.substring(4,8);
	    			$(this).val(env_number);
	    			var year = lower_limit_val.substring(0,2);
	    			$('#year').val(year).trigger('change');
	    			var month = lower_limit_val.substring(2,4);
	    			$('#month').val(month).trigger('change');
	    		}else if(lower_limit_val.length < 4){
	    			$(this).val(pad(lower_limit_val,4));
	    		}
	    		var env_val = Number($(this).val());
	    		if(env_val < 3000){
	    			var sample_type = 'P';
	    		}else{
	    			var sample_type = 'D';
	    		}
	    		$('#sample_type').val(sample_type);
	    		$('#id_sample_type').val(sample_type);

	    	});
		 	$("#upper_limit").change(function(){
	    		var upper_limit_val = $(this).val();
	    		if (isNaN(upper_limit_val)) {
				    alert('Nokorakyi? This is expected to be a number, text is give');
				    $(this).val('');
				 }

	    		if(upper_limit_val.length == 10){
	    			var env_number = upper_limit_val_val.substring(4,8);
	    			$(this).val(env_number);
	    		}else if(upper_limit_val.length < 4){
	    			$(this).val(pad(upper_limit_val,4));
	    		}
	    		var lower_limit_val = $("#lower_limit").val();
	    		if(upper_limit_val !='' && lower_limit_val != ''){
	    			var no_envs = Number(upper_limit_val) - Number(lower_limit_val);
	    			if(no_envs < 0){
	    				alert('This number cannot be less than the first enverlope number');
	    				$(this).val('');
	    			}else{
	    				$("#number_of_envelopes").val(no_envs);
	    			}
	    		}

	    	});

		 	$("#number_of_envelopes").change(function(){
	    		var no_envs = $(this).val();
	    		var lower_limit_val = $("#lower_limit").val();
	    		if(lower_limit_val != ''){
	    			var last_env = Number(lower_limit_val) + Number(no_envs)-1;
	    			$("#upper_limit").val(pad(last_env,4));
	    		}

	    	});

	     }); 
	 	function pad (str, max) {
		  str = str.toString();
		  return str.length < max ? pad("0" + str, max) : str;
		}

	
	</script>


{% endblock %}
