{% extends "home/layout.html" %}
{% load form_tags %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/select2/dist/css/select2.min.css" %}'>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/select2/dist/js/select2.min.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/moment/min/moment.min.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/combodate/src/combodate.js" %}'></script>
{% endblock %}


{% block content %}	

<div class="page-title">capture sample details</div>
<div class="panel panel-default">
<div class="row panel-body">
	<div class="col-lg-11">
	{% if sample %}
	<div id="success" class="alert alert-success vl-alert" role="alert">
		just saved: 
		<a href="{% url 'samples:show' sample.pk %}">
			{{sample.locator_category }}{{sample.envelope.envelope_number}}/{{sample.locator_position}} 
			({{ sample.vl_sample_id }})</a>
		&nbsp;&nbsp;
		<span class='x' id='x'>x</span>
	</div>
	{% endif %}

	
	<form action="{% if sample_id %} 
				    {% url 'samples:edit' sample_id  %}  
				  {% else %} 
				    {% url 'samples:create'  %} 
				  {% endif %}" method="post" role="form">
		{% csrf_token %}
		

		<div class="row">
			<div class="col-lg-6">
				<span class='sub-title'>form/facility details</span>

				{% if sample_id %}
				<div class="form-group">
					<label for='sample_id'>VL Sample ID</label>
					{% input 'vl_sample_id' vsi '{"disabled":"true"}' %}
				</div>
				{% endif %}

				<div class="form-inline required">
					
					<label for="locator_envelope">Location/Rejection ID</label><br>
					{{ sample_form.locator_position.errors }}

					{{ sample_form.locator_category }}

					{{ envelope_form.envelope_number }}
					<span class="vl-slash">/</span>
					{{ sample_form.locator_position }}

				</div><br>

				<div class="form-group required">
					{{ sample_form.form_number.label_tag}}
					{{ sample_form.form_number.errors}}
					{{ sample_form.form_number}}
				</div>

				<div class="form-group required">
					{{ sample_form.facility.label_tag }}<br>
					{{ sample_form.facility.errors }}
					{{ sample_form.facility }}
					<div style="padding-top:10px;">
						District: <u id="id_district" style="min-width:100px;">________________</u>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Hub: <u id="id_hub">_______________</u>
					</div>
				</div>
			</div>

			<div class="col-lg-6">

				<!-- <div class="form-group">
					<label for="district">District</label>
					{% input "district"  "" "{'disabled':'true'}" %}
				</div>

				<div class="form-group">
					<label for="hub">Hub</label>
					{% input "hub"  "" "{'disabled':'true'}" %}
				</div> -->

				<span class='sub-title'>sample details</span>
				<div class="form-inline required">
					{{ sample_form.date_collected.label_tag }}<br>
					{{ sample_form.date_collected.errors }}
					{{ sample_form.date_collected }}													
				</div><br>
				<div class="form-inline required">
					{{ sample_form.date_received.label_tag }}<br>
					{{ sample_form.date_received.errors }}
					{{ sample_form.date_received }}
				</div><br>
				<div class="form-group required">
					{{ sample_form.sample_type.label_tag }}
					{{ sample_form.sample_type.errors }}
					{{ sample_form.sample_type }}
					<input type="hidden" name="sample_type" id="sample_type" value='{{ sample_form.sample_type.value }}'>
				</div>

			</div>
		</div>

		<!--  Sample Information -->
		<br>
		
		
		<!-- <div class="row">
			<div class="col-lg-6">
				<div class="form-inline required">
					{{ sample_form.date_collected.label_tag }}<br>
					{{ sample_form.date_collected.errors }}
					{{ sample_form.date_collected }}													
				</div>
				<br>

				<div class="form-inline required">
					{{ sample_form.date_received.label_tag }}<br>
					{{ sample_form.date_received.errors }}
					{{ sample_form.date_received }}
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group required">
					{{ sample_form.sample_type.label_tag }}
					{{ sample_form.sample_type.errors }}
					{{ sample_form.sample_type }}
					<input type="hidden" name="sample_type" id="sample_type" value='{{ sample_form.sample_type.value }}'>
				</div>
			</div>

		</div><br>	 -->			


		<!--  Patient Information -->
		<br>
		<span class='sub-title'>patient information</span>
		<div class="row">
			<div class="col-lg-6">

				<div class="form-group required">
					{{ patient_form.art_number.label_tag }}
					{{ patient_form.art_number.errors }}
					{{ patient_form.art_number }}
				</div> 

				<div class="form-group">
					{{ patient_form.other_id.label_tag }}
					{{ patient_form.other_id.errors }}
					{{ patient_form.other_id }}
				</div> 

				<div class="form-group required">
					{{ patient_form.gender.label_tag }}
					{{ patient_form.gender.errors }}
					{{ patient_form.gender }}
				</div>
			</div>
			<div class="col-lg-6"> 
				<div class="form-inline required">
					{{ patient_form.dob.label_tag }}<br>
					{{ patient_form.dob.errors }}<div id="dob_error"></div>
					{{ patient_form.dob }}													
				</div>
				<br>

				<div class="form-inline required">
					<label for="id_age">Age</label><br>
					<input type="text" name="age" id="id_age" class="form-control input-sm" size="11">
					<select name="age_units" id="id_age_units" class="form-control input-sm">
						<option value="Y" selected="true">Years</option>
						<option value="M">Months</option>
					</select>												
				</div>
				<br>

				<div class="form-group">
					{{ phone_form.phone.label_tag }}
					{{ phone_form.phone.errors }}
					{{ phone_form.phone }}
				</div> 
			</div>
		</div>

		<!-- Treatment Information -->
		<br>
		<span class='sub-title'>treatment information</span>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group required">
					{{ sample_form.treatment_inlast_sixmonths.label_tag }}
					{{ sample_form.treatment_inlast_sixmonths.errors }}
					{{ sample_form.treatment_inlast_sixmonths }}
				</div>

				<div class="form-inline required">
					{{ sample_form.treatment_initiation_date.label_tag }}<br>
					{{ sample_form.treatment_initiation_date.errors }}
					{{ sample_form.treatment_initiation_date }}
				</div><br>

				<div class="form-group required">
					{{ sample_form.current_regimen.label_tag }}
					{{ sample_form.current_regimen.errors }}
					{{ sample_form.current_regimen }}			
				</div>

				<div class="form-group" id='other-regimen-sect'>
					{{ sample_form.other_regimen.label_tag }}
					{{ sample_form.other_regimen.errors }}
					{{ sample_form.other_regimen }}			
				</div>

				<div class="form-group required">
					{{ sample_form.treatment_line.label_tag }}
					{{ sample_form.treatment_line.errors }}
					{{ sample_form.treatment_line }}
				</div> 

				<div class="form-group ">
					{{ sample_form.treatment_indication.label_tag }}
					{{ sample_form.treatment_indication.errors }}
					{{ sample_form.treatment_indication }}				
				</div>

				<div class="form-group">
					{{ sample_form.failure_reason.label_tag }}
					{{ sample_form.failure_reason.errors }}
					{{ sample_form.failure_reason }}				
				</div>

				

			</div>
			<div class="col-lg-6">

				<div class="form-group">
					{{ sample_form.pregnant.label_tag }}
					{{ sample_form.pregnant.errors }}
					{{ sample_form.pregnant }}
				</div>

				<div class="form-group" id="anc_sect">
					{{ sample_form.anc_number.label_tag }}
					{{ sample_form.anc_number.errors }}
					{{ sample_form.anc_number }}
				</div>

				<div class="form-group">
					{{ sample_form.breast_feeding.label_tag }}
					{{ sample_form.breast_feeding.errors }}
					{{ sample_form.breast_feeding }}
				</div>

				<div class="form-group">
					{{ sample_form.active_tb_status.label_tag }}
					{{ sample_form.active_tb_status.errors }}
					{{ sample_form.active_tb_status }}
				</div>

				<div class="form-group">
					{{ sample_form.tb_treatment_phase.label_tag }}
					{{ sample_form.tb_treatment_phase.errors }}
					{{ sample_form.tb_treatment_phase }}					
				</div>

				<div class="form-group">
					{{ sample_form.arv_adherence.label_tag }}
					{{ sample_form.arv_adherence.errors }}
					{{ sample_form.arv_adherence }}				
				</div>

				<div class="form-group required">
					{{ sample_form.viral_load_testing.label_tag }}
					{{ sample_form.viral_load_testing.errors }}
					{{ sample_form.viral_load_testing }}				
				</div>
			</div>

		</div>

		<br>
		<span class='sub-title'>previous test</span>

		<div class="row">

			<div class="col-lg-6">

				<div class="form-inline">
					{{ sample_form.last_test_date.label_tag }}<br>
					{{ sample_form.last_test_date.errors }}
					{{ sample_form.last_test_date }}							
				</div><br>

				<div class="form-group">
					{{ sample_form.last_value.label_tag }}<br>
					{{ sample_form.last_value.errors }}
					{{ sample_form.last_value }}
				</div>

				<div class="form-group">
					{{ sample_form.last_sample_type.label_tag }}<br>
					{{ sample_form.last_sample_type.errors }}
					{{ sample_form.last_sample_type }}	
				</div>
			</div>				

		</div>
		
		<input type="submit" value="Save and get new form" class="btn btn-danger">
	</form>
	</div>

	<div class="col-lg-1" >
		{% if sample %}
			<span class='sub-title' style="margin-left:-60px">envelope samples</span><br>
			{% for s in sample.envelope.sample_set.all %}
				<a href='{% url 'samples:show' s.pk %}'  style="margin-left:-60px">
					{{s.locator_category }}{{s.envelope.envelope_number}}/{{s.locator_position}}
				</a><br>
			{% endfor %}
		{%endif%}
	</div>
</div>
</div>
	

<script type="text/javascript">
	var date_now = new Date();
	console.log(date_now.toDateString());
	var now_s = date_now.getTime();
	var facility_json = {};
	var regimen_json = {};

	{% for regimen in regimens %}
		var reg_id = "{{ regimen.id }}";
		switch("{{regimen.tag}}"){
			case "1":
				regimen_json[reg_id] = "89";
				break;
			case "2":
				regimen_json[reg_id] = "90";
				break;
			case "4":
				regimen_json[reg_id] = "91";
				break;
			case "5":
				regimen_json[reg_id] = "92";
				break;
			default:
				regimen_json[reg_id] = "91";
		}
	{% endfor %}


	$( function() {

		set_district_hub();
		//set_age();
		
		$("#id_treatment_line").attr("readonly","true");
		$("#id_anc_number").attr("readonly","true");
		$("#id_sample_type").attr("disabled", "true");
		$("#id_tb_treatment_phase").attr("disabled", "true");
		$("#id_other_regimen").attr("readonly","true");

		//$("#anc_sect").hide();

    	/*$("#id_facility").select2({	
    		placeholder: "Select facility", 
    		allowClear: true,
    		width: "58%",
    	});*/

    	//$(".optional").removeAttr('required');

    	$(".date").combodate({
    		format: "YYYY-MM-DD",
    		template: "D MMM YYYY",
    		customClass: "form-control input-sm",
    		minYear: 1900,
    		maxYear: date_now.getFullYear(),
    	});

    	$("#id_facility").change(function(){
    		set_district_hub();
    		/*setTimeout(function(){
    			$(".day").first().focus();
    		},100);*/    		    		
    	});

    	$("#id_gender").change(function(){
    		var gender = $(this).val();
    		if(gender=="M"){
    			$("#id_pregnant").attr("disabled","true");
    			$("#id_breast_feeding").attr("disabled","true");
    		}else{
    			$("#id_pregnant").removeAttr("disabled");
    			$("#id_breast_feeding").removeAttr("disabled");
    		}
    	});

    	$("#id_pregnant").change(function(){
    		var preggas = $(this).val();
    		if(preggas=="Y"){
    			$("#id_anc_number").removeAttr("readonly");
    		}else{
    			$("#id_anc_number").attr("readonly","true");
    		}
    	});

    	$("#id_form_number").change(function(){
    		var url =  "/samples/get_facility/"+$(this).val()+"/";
    		$.get(url, function(data, status){
    			$('#id_facility').val(data).trigger('change');
    			//$('#id_facility').val(data);
    		});
		});

		$("#id_current_regimen").change(function(){
			var val = $(this).val();
			$("#id_treatment_line").val(regimen_json[val]); 
			if(val==37){
				$("#id_other_regimen").removeAttr("readonly");
			}else{
				$("#id_other_regimen").attr("readonly","true").val("");
			}
		});

		$("#id_dob").change(function(){
			//if(strtotime($(this).val())>0 && !valid_dob($(this).val())){ alert("invalid dob"); }			
			set_age();			
		});

		$("#id_age").change(function(){
			set_dob();			
		});

		$("#id_age_units").change(function(){
			set_dob();			
		});

		$("#id_viral_load_testing").change(function(){
			var vl_val = $(this).val();
			var $vl_testing = $('input:radio[name=vl_testing]');

			//console.log("dhejehd"+$vl_testing);
			switch(vl_val){
				case "93":
					$vl_testing.filter('[value=routine]').prop('checked', true);
					break;
				case "94":
					$vl_testing.filter('[value=repeat]').prop('checked', true);
					break;
				case "95":
					$vl_testing.filter('[value=suspected]').prop('checked', true);
					break;
			}

		});

		$("#x").on("click", function(){
			$("#success").slideUp("slow");
		});

		$("#id_envelope_number").on("change", function(){
			var val = $(this).val().split("-");
			var env_num = Number(val[1]);
			var s_type =  (env_num<500?'P':'D');
			$("#id_sample_type").val(s_type);
			$("#sample_type").val(s_type);
		});

		$("#id_active_tb_status").on("change", function(){
			$val = $(this).val();
			if($val == 'Y'){
				$("#id_tb_treatment_phase").removeAttr("disabled");
			}else{
				$("#id_tb_treatment_phase").attr("disabled", "true");
			}
		});

		/*$("#id_pregnant").on("change", function(){
			var val = $(this).val();
			if(val == 'Y'){
				$('#anc_sect').show();
			}else{
				$('#anc_sect').hide();
				$('#id_anc_number').val("");
			}
		});*/



    	
  	});

	function round1(val){
		return Math.round(val);
		//return Math.round(val*10)/10;
	}

	function set_dob(){
		var age = $("#id_age").val();
		var units = $("#id_age_units").val();

		if(units=='Y'){
			now_y = date_now.getFullYear();
			dob_y = now_y-age;
			var dob = new Date(dob_y+"-01-01");
		}else{
			var age = age/12;
			var age_s = age*365*24*3600*1000;
			var dob_s = now_s-age_s;
			var dob = new Date(dob_s);
		}	
		$("#id_dob").combodate('setValue', dob);
	}

	function set_age(){
		var dob = new Date($("#id_dob").val());
		var dob_s = dob.getTime();
		var yrs = (now_s-dob_s)/(365*24*3600*1000) || 0;
		if(yrs<1){
			var mths = yrs*12;
			$("#id_age").val(round1(mths));
			$("#id_age_units").val("M");
		}else{
			$("#id_age").val(round1(yrs));
			$("#id_age_units").val("Y");
		}
	}

	function set_district_hub(){
		var facility_id = $('#id_facility').val();
		if(facility_id!=''){
			var url =  "/samples/get_district_hub/"+facility_id+"/";
			$.get(url, function(data, status){
				var json_data = JSON.parse(data);
				$("#id_district").html(json_data.district);
				$("#id_hub").html(json_data.hub);
			});	
		}
					
	}

	function future_date(string_date){
		var now = new Date();
		var dob_s = strtotime(string_date);
		var now_s = now.getTime();
		return dob_s<=now_s;
	}

	function strtotime(string_date){
		var date_obj = new Date(string_date+" 00:00:00");
		return date_obj.getTime();
	}
//422551

</script>


<style type="text/css">
    .x{
    	color: rgb(210, 190, 220);
    	cursor: pointer;
    	font-size: 18px;
    }

    .form-group.required label:before, .form-inline.required label:before {
	  content:"*";
	  color:red;
	}
</style>
{% endblock %}