{% extends "home/layout.html" %}
{% load form_tags %}
{% load staticfiles %}


{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/datatables/media/css/dataTables.jqueryui.min.css" %}'>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/datatables/media/js/jquery.dataTables.js" %}'></script>
{% endblock %}

{% block content %}	

<div class="page-title">Samples</div>

<div class="panel panel-default">
	<table class='table table-bordered table-striped table table-condensed' id='tab_id'>
		<thead>
			<tr>
				<th>Facility</th>
				<th>Hub</th>
				<th>Form Number</th>
				<th>Locator ID</th>
				<th>VL Sample ID</th>
				<th>Date Collected</th>
				<th>Date Received</th>
				<th>...</th>
			</tr>
		</thead>
		
	</table>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var oTable = $('#tab_id').dataTable({
		"processing": true,
		"serverSide": true,
		"ajax": "{% url 'samples:list_json' %}",
	});
});
</script>
{% endblock %}