{% extends "home/layout.html" %}
{% load form_tags %}
{% load static %}


{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/datatables/media/css/dataTables.jqueryui.min.css" %}'>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/datatables/media/js/jquery.dataTables.js" %}'></script>
{% endblock %}

{% block content %}	

<div class="page-title">
	{% if request.GET.sample_without_results == '0' %}
		Received samples pending worksheet creation
	{% else %} Samples {% endif %}</div>

<div class="panel panel-default">
	{% if request.GET.sample_without_results == '0' %}
	<ul id="tabs_a" class="nav nav-tabs">    
    
	     <li {% if request.GET.stage == '1' %} class="active" {% endif %}>
	    	<a href="/worksheets/lab_samples/?stage=1">On worksheet, pending results upload</a>
	    </li>
	    <li {% if request.GET.stage == '4' %} class='active' {% endif %}>
	    	<a href="/worksheets/lab_samples/?stage=4">Repeats, pending worksheet</a>
	    </li>
	    <li {% if request.GET.sample_without_results == '0' %} class='active' {% endif %}>
	    	<a href="/samples/list/?sample_without_results=0">Received, pending worksheet</a>
	    </li>
  
	</ul>
	<div id="my-tab-content" class="tab-content" style="min-height:400px">
		{% endif %}
		<div class="table-resonsive">
			<table class='table table-bordered table-striped table table-condensed' id='tab_id'>
				<thead>
					<tr>
						
						<th style="width:50px">Facility Ref</th>						
						<th style="width:50px">Lab Ref</th>		
						<th>Sample Type</th>				
						<th>Date Collected</th>
						<th>Initiation Date</th>
						<th>Date Received</th>				
						<th>Patient ART #</th>
						<th>Other ID</th>
						<th>District</th>
						<th>Facility</th>
						<th>...</th>
					</tr>
				</thead>
				
			</table>
		</div>
	{% if request.GET.sample_without_results == '0' %}
	</div>
	{% endif %}
</div>

<script type="text/javascript">
$(document).ready(function() {
	var oTable = $('#tab_id').dataTable({
		"processing": true,
		"serverSide": true,
		"searching": false,
		"ajax": "/samples/list_json?hie_samples_pending_reception={{ hie_samples_pending_reception }}&sample_without_results={{ sample_without_results }}&is_data_entered={{ is_data_entered }}{% if global_search %}?global_search={{ global_search }}{% endif %}",
	});
});
</script>
{% endblock %}
