{% extends "home/layout.html" %}
{% load form_tags %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/select2/dist/css/select2.min.css" %}'>
	<style>
		#receive_form .reception-main-row {
			display: flex;
			flex-wrap: wrap;
			margin-left: -18px;
			margin-right: -18px;
		}

		#receive_form .reception-left-col,
		#receive_form .reception-right-col {
			padding-left: 18px;
			padding-right: 18px;
		}

		#receive_form .reception-left-col .form-inline,
		#receive_form .reception-left-col .form-group,
		#receive_form .reception-right-col .form-group {
			max-width: 320px;
		}

		#receive_form .reception-left-col .form-control,
		#receive_form .reception-right-col .form-control {
			width: 100%;
			max-width: 320px;
		}

		#receive_form .locator-entry {
			display: flex;
			gap: 8px;
			align-items: center;
			max-width: 320px;
		}

		#receive_form .locator-entry .locator-category {
			flex: 0 0 88px;
			max-width: 88px;
		}

		#receive_form .locator-entry .locator-barcode {
			flex: 1 1 auto;
			min-width: 0;
		}
	</style>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/select2/dist/js/select2.min.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/moment/min/moment.min.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/combodate/src/combodate.js" %}'></script>
{% endblock %}


{% block content %}	

<div class="page-title">Receive sample</div>
<div class="panel panel-default">
<div class="row panel-body">
	<div class="col-lg-6">
	{% if sample %}
	<div id="success" class="alert alert-success vl-alert" role="alert">
		just received: 
		<a href="{% url 'samples:edit_received' sample.pk %}">
			{{sample.barcode }}</a>
		&nbsp;&nbsp;
		<span class='x' id='x'>x</span>
	</div>
	{% endif %}
	{% if messages %}
    	<div class="messages">
	        {% for message in messages %}
	            <div class="alert alert-danger {% if message.tags %}alert-{{ message.tags }}{% endif %}">
	                {{ message }}
	            </div>
	        {% endfor %}
	    </div>
	{% endif %}
	
	<form action=" {% if reception_id %} {% url 'samples:edit_received' reception_id %} {% else %}  {% url 'samples:receive'  %} {% endif %}" method="post" id="receive_form" role="form">
		{% csrf_token %}
		<ul>
		
		{% for field in sample_reception_form %}
			{% if field.errors %}<li>{{ field.label_tag }} {{ field.errors }}</li>{% endif %}
		{% endfor %}
			
		
		</ul>
		<div class="row reception-main-row">
			<div class="col-lg-6 reception-left-col">
				<span class='sub-title'>form/facility details</span>
				<div class="hidden">
					<input type="text" name="envelope_number" id="envelope_number">
					<input type="text" name="locator_position" id="locator_position">
					<input type="text" name="tracking_code_id" id="tracking_code_id" value="{{request.GET.tracking_code_id}}">
					<input type="text" name="date_received" id="date_received" value="">
					<input type="text" name="envelope_id" id="envelope_id" value="{{request.GET.envelope_id}}">
					<input type="text" name="page_type" id="page_type" value="{{request.GET.page_type}}">
					<input type="text" name="current_tr_code" id="current_tr_code" value="{{request.GET.current_tr_code}}">
					<input type="text" name="reception_id" id="reception_id" value="{{reception_id}}">
				</div>
				<div class="form-inline required">						
					<label for="tracking_code">Tracking Code</label><br>					
					<input class="form-control input-sm w-md" id="id_code" name="code" value="{{current_tr_code}}" required="true" type="text" >
				</div>
				<div class="form-inline required">
					
					<label for="locator_envelope">Location/Rejection ID</label><br>
					<div class="locator-entry">
						<select class="form-control input-sm w-xs locator-category" id="id_locator_category" name="locator_category" required="true">
							<option value="">---------</option>
							<option value="V" {% if locator_category == 'V' %}selected="selected" {% endif %}>V</option>
							<option value="R" {% if locator_category == 'R' %}selected="selected" {% endif %}>R</option>
							<option value="W" {% if locator_category == 'W' %}selected="selected" {% endif %}>W</option>
						</select>
						<div class="locator-barcode">
							{{ sample_reception_form.barcode }}
						</div>
					</div>
				</div>

				<div id="rejection_reasons_container" class="form-inline ">
					<select id="rej_res"></select>

				</div>
				
				<div class="form-group required">
					{{ sample_reception_form.facility.label_tag }}<br>
					{{ sample_reception_form.facility }}
					<div style="padding-top:10px;">
						District: <u id="id_district" style="min-width:100px;">_______________</u>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Hub: <u id="id_hub">_______________</u>
					</div>
				</div>
				
				<div class="form-inline">						
					<label for="facility_reference">Facility Reference</label><br>					
					<input class="form-control input-sm w-md" id="id_facility_reference" name="facility_reference" value="{{facility_reference}}"  type="text" >
				</div>
				
				
				<div class="form-inline">						
					<label for="reception_hep_number">Art Number</label><br>					
					<input class="form-control input-sm w-md" id="id_reception_hep_number" name="reception_hep_number" value="{{reception_hep_number}}"  type="text" >
				</div>
			</div>

			<div class="col-lg-6 reception-right-col">

				<span class='sub-title'>sample details</span>
				
				<div class="form-group required">
					{{ sample_reception_form.sample_type.label_tag }}
					{{ sample_reception_form.sample_type }}
					<input type="hidden" name="sample_type" id="sample_type" value='{{ sample_reception_form.sample_type.value }}'>
				</div>
				<div class="form-group required">
					{{ sample_reception_form.date_collected.label_tag }}
					{{ sample_reception_form.date_collected }}
				</div>

			</div>
		</div>
		<br>

		<span class='sub-title hidden'>patient information</span>
		<div class="row hidden">
			<div class="col-lg-6">

				<div class="form-group required">
					{{ sample_reception_form.hep_number.label_tag }}
					{{ sample_reception_form.hep_number }}
				</div> 

			</div>
			

		</div>

		<input type="submit" value="Save and get new form" class="btn btn-danger">
	</form>
	</div>
	<div class="col-lg-6" >
		{% if sample %}
			<span class='sub-title' style="margin-left:-60px">in envelope</span><br>
			{% for s in sample.envelope.sample_set.all|dictsort:"locator_position" %}
				<span  style="margin-left:-60px">
					{{ forloop.counter }}. 
					
					<a href="{% url 'samples:edit_received' s.pk %}">
						{{s.barcode }}
					</a>
				</span><br>
			{% endfor %}
		{%endif%}
	</div>
	
</div>
</div>
	

<script type="text/javascript">
	function resetReceiveFormSelection(){
		$("#envelope_id,#date_received,#envelope_number,#locator_position").val('');
	}

	function hasProgramMismatch(dataArr){
		if (dataArr.program_mismatch){
			alert(dataArr.err_msg);
			resetReceiveFormSelection();
			$("#id_barcode").val('');
			return true;
		}
		return false;
	}

	$(document).ready(function() {	
	
		if ($.fn.bootstrapValidator) {
			$('#receive_form').bootstrapValidator({
		       
		        fields: {
					
					barcode: {
		                    validators: {
		                        notEmpty: {
		                            message: 'Please locator Id'
		                        },
		                         stringLength: {
			                        min: 10,
			                        max: 10,
			                        message: 'Barcode must be 10 digits long'
			                    }
		                    }
		                },
		            code: {
		                    validators: {
		                        notEmpty: {
		                            message: 'Please enter the tracking code'
		                        }
		                    }
		                },
					reception_hep_number: {
		                    validators: {
		                        notEmpty: {
		                            message: 'Please enter the art number'
		                        }
		                    }
		                },
		            date_collected: {
		                    validators: {
		                        notEmpty: {
		                            message: 'Please select the collection date'
		                        }
		                    }
		                },
		            rejection_reason_id: {
		                    validators: {
		                        notEmpty: {
		                            message: 'Please select the reason for rejection'
		                        }
		                    }
		                },
	                date_received: {
	                    validators: {
	                        notEmpty: {
	                            message: 'Please select the date of reception'
	                        }
	                    }
	                }
				}//endo of validation rules
		    });// close form validation function
		}
	});
	var date_now = new Date();
	//console.log(date_now.toDateString());
	var now_s = date_now.getTime();
	var regimen_json = {};

	$( function() {
		$('#id_facility').select2();
		$("#id_facility").val("{{ sample_reception_form.facility.value|default:'' }}");

				
		$("#id_sample_type").attr("disabled", "true");

    	$(".date_d").combodate({
    		format: "DD/MM/YYYY",
    		template: "D MMM YYYY",
    		customClass: "form-control input-sm w-xs",
    		minYear: 1900,
    		maxYear: date_now.getFullYear(),
    	});

    	$(".date").datepicker({
			dateFormat: "yy-mm-dd",
			maxDate: 0
		});
    	$("#id_facility").change(function(){
    		set_district_hub();   		    		
    	}).change();

		$("#id_barcode").change(function(){
    		var barc = $(this).val();
    		if(barc === ''){
    			return;
    		}
    		var url =  "/samples/get_barcode_details/?barcode="+barc;
    		$.get(url, function(data, status){
				var data_arr = JSON.parse(data);
				if(hasProgramMismatch(data_arr)){
					return;
				}
    			var year_month = barc.substring(0, 4);
    			var env_number = barc.substring(4,8);
    			var locator_posn = barc.substr(barc.length - 2);
    			$("#envelope_number").val(year_month +'-'+env_number).change();
    			$("#locator_position").val(locator_posn).change();
    		});
    	});

    	
		$("#envelope_number").change(function(){
			var val = $(this).val();
			var env_num = Number(val.substr(-4));
			var s_type = '';
			var s_type =  (env_num<=999?'P':'D');
			
			$("#id_sample_type").val(s_type);
			$("#sample_type").val(s_type);
			var url =  "/samples/get_envelope_details/?envelope_number="+val+"&sample_type="+s_type+"&env_status_update=received";
    		$.get(url, function(data, status){
				var data_arr = JSON.parse(data);
				if(hasProgramMismatch(data_arr)){
					return;
				}
				$("#date_received").val(data_arr.date_received);
			});
		});


    	$("#add_reason").hide();

    	$(".optional").removeAttr('required');   

    	$("#id_locator_category,#sample_type,#id_barcode").change(function(){
    		var sample_type = $("#sample_type").val();
    		var id_barcode = $("#id_barcode").val();
    		var cat =  $("#id_locator_category").val();
    		if(cat == 'R' && sample_type != '' && cat != '' && id_barcode != ''){
    			reasonsDropDown("rejection_reason_id", "rejection_reason_id",sample_type);
    			$('#rejection_reasons_container').removeClass('hidden');
    		}else{
    			$("#rejection_reason_id").val();
    			$('#rejection_reasons_container').addClass('hidden');
    		}
    		
    	}).change(); 	

    	$("#add_reason").click(function(){
    		addOtherReasons();
    	})

  	});
	
	
	function reasonsDropDown(nme,id, sample_type){
	  var url =  "/samples/get_rejection_reasons/?sample_type="+sample_type;
		$.get(url, function(data){
			var rejection_reasons = JSON.parse(JSON.parse(data));			
			var other_options="id='"+id+"' class='form-control input-sm w-md' ";
			  var slct = "<label for='rejection_reason_id'>Rejection Reason </label><br />";
			  slct += "<select name='"+nme+"' id='"+id+"' class='form-control input-sm w-md' required style='width: 300px;'><option value=''>---------</option>";
			  for (var r in rejection_reasons){	  	
			  	slct += "<optgroup label="+r+">";
			  	var rrs = rejection_reasons[r];

			  	for(var i in rrs){
			  		slct += "<option value='"+i+"'>"+rrs[i]+"</option>";
			  	}
			  	slct += "</optgroup>";
			  }

			  slct +="</select>";
			  //console.log(slct);
			  $("#rejection_reasons_container").html(slct);

		});	
	  //return generalSelect(nme,rejection_reasons,"Select Rejection Reason","",other_options);
	}



	function addOtherReasons(){
	  var reasons="<div>"+reasonsDropDown("other_reasons[]","")+"</div><br>";
	  $("#other_reasons").append(reasons);
	}

	function pick_num(e){
		var c = e.which||e.keyCode;
		//alert(c);
		var ret = true;
		if(c!=0 && c!=8 && c!=9){
			ret = c > 47 && c < 58?true:false;
		}
		return ret;
	}

	function round1(val){
		return Math.floor(val);
	}

	
	function set_district_hub(){
		var facility_id = $('#id_facility').val();
		//only get district and hub if value not 0, null, NaN or empty
		if(!facility_id){
			//do nothing
		}else{ 
			var url =  "/samples/get_district_hub/"+facility_id+"/";
			$.get(url, function(data, status){
				var json_data = JSON.parse(data);
				$("#id_district").html(json_data.district);
				$("#id_hub").html(json_data.hub);
			});	
		}
					
	}
	
	// calculation of no. of days between two date
	//date formate - mm/dd/YYYY - 06/30/2019, 07/30/2019
	function getDaysBetweenDates(start_date, end_date){
	    // To set two dates to two variables
	    var date1 = new Date(start_date);
		var date2 = new Date(end_date);
		  
		// To calculate the time difference of two dates
		var Difference_In_Time = date2.getTime() - date1.getTime();
		  
		// To calculate the no. of days between two dates
		//alert(end_date.getDate());
		return Difference_In_Time / (1000 * 3600 * 24);
	}
	//change date to mm/dd/YYYY
	function convert(date){
	  var datearray = date.split("/");
	  var newdate = datearray[1] + '/' + datearray[0] + '/' + datearray[2];
	  return newdate;
	  
	}

	function getCurrentDate(){
	  var current_datetime = new Date()
	  var formatted_date =  (current_datetime.getMonth() + 1) + "/" + current_datetime.getDate() + "/" + current_datetime.getFullYear();
	  return formatted_date;
	}

</script>


<style type="text/css">
    .x{
    	color: rgb(210, 190, 220);
    	cursor: pointer;
    	font-size: 18px;
    }

    .form-group.required label:before, .form-inline.required label:before {
	  content:"*";
	  color:red;
	}

	.day{
		width:10px;
	}

	.form-group, .form-inline{
		margin-bottom: 4px;
	}

	.form-group > label,.form-inline > label{
		font-size: 14px;
	}
	.wider.input-sm{
		width: 210px;
	}

	#receive_form .combodate {
		display: flex;
		flex-wrap: nowrap;
		gap: 6px;
		align-items: center;
	}

	#receive_form .combodate .form-control {
		display: inline-block;
		width: auto;
	}
</style>
{% endblock %}
