{% extends "home/layout.html" %}
{% load form_tags %}
{% load static %}


{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/datatables/media/css/dataTables.jqueryui.min.css" %}'>
	<style>
		.is_data_enterd0{
			color: red;
		}

		/* basic positioning */
	.legend { list-style: none; }
	.legend li { float: left; margin-right: 10px; }
	.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
	/* your colors */
	.legend .red { background-color: #ff0000; }
	.legend .black { background-color: #000; }

</style> 
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/datatables/media/js/jquery.dataTables.js" %}'></script>
{% endblock %}

{% block content %}	

<span class="page-title">Samples</span>

<div class="panel panel-default">
	{%if request.GET.env_complete %}
	<span id="completed" class="alert alert-success vl-alert" role="alert">
		You reached end of envelope
	</span>
	{% endif %}
	{% if request.GET.reverse_approval%}
	<span id="completed" class="alert alert-success vl-alert" role="alert">
		{{request.GET.reverse_approval}}
	</span>
	{% endif %}
	<ul class="legend">
    <li><span class="red"></span> Pending data entry</li>
    <li><span class="black"></span> Data entry complete</li>
	</ul>
	<table class='table table-bordered table-striped table table-condensed' id='tab_id'>
		<thead>
			<tr>
				<th>#</th>
				<th>Facility Ref</th>
				<th>Form Number</th>
				<th>Lab Ref</th>
				<th>Facility</th>
				<th>District</th>	
				<th>Patient ART #</th>
				<th>Sex</th>
				<th>Sample Type</th>				
				<th>Date Collected</th>
				<th>Initiation Date</th>
				<th>Date Received</th>		
				<th>Status</th>
				<th>...</th>
			</tr>
		</thead>
		<tbody>
			{% for s in samples %}
			<tr id="{{s.id}}" class="is_data_enterd{{s.is_data_entered}}">
				<td>{{ forloop.counter }}</td>													
				<td>																						
						{{s.facility_reference}}
				</td>
				<td>																						
						{{s.form_number}}
				</td>
				<td>

					
				{{s.barcode}}
					
				</td>
				<td>
					{% if s.patient_id %}
					{{ s.patient.facility }}
					{% else %}
						{{ s.facility }}
					{% endif %}
			  </td>
			  	<td>
					{% if s.is_data_entered %}
					{{ s.patient.facility.district }}
					{% else %}
						{{ s.sample_reception.facility.district }}
					{% endif %}

				</td>	
				<td>
					{% if s.is_data_entered %}
					{{ s.patient.art_number }}
					{% else %}
						{{ s.reception_art_number }}
					{% endif %}
				</td>	
				<td>{{ s.patient.gender }}</td>
				<td>{{ s.get_sample_type_display }}</td>				
				<td>{{ s.date_collected | date:"Y-m-d" }}</td>
				<td>
					{% if s.is_data_entered %}
					 {{ s.patient.treatment_initiation_date | date:"Y-m-d"}}
					{% else %}
					{{ s.treatment_initiation_date | date:"Y-m-d"}}
					{% endif %}
				</td>
				<td>{{ s.date_received | date:"Y-m-d"}}</td>	
				
				
				<td>
					{% if s.verified %} <!-- Start condition for verification-->
					<span style="display:none" id="verify_details{{ s.pk }}">
						<table class="table table-bordered table-condensed table-striped">
							<tr>
								<th>Stage</th>
								<th  width="30%">Value</th>
								<th>By</th>
								<th>Date</th>
							</tr>
							<tr>
								<td>Received</td>
								<td>{% if s.stage == 0 %}Yes {% else %}No{% endif %}</td>
								<td>{{ s.created_by}}</td>
								<td>{{ s.created_at }}</td>
							</tr>
							<tr>
								<td>Data Entry</td>
								<td>{% if s.is_data_entered %} Entered {% else %} Not entered {% endif %}</td>
								<td>{{ s.data_entered_by }}</td>
								<td>{{ s.data_entered_at }}</td>
							</tr>
							{% if not s.verification.accepted %} <!--Start the if not veri -->
								<tr>
									<td>Rejection Reason</td>
									<td colspan="3">{{ s.verification.rejection_reason.appendix }}</td>
								</tr>
								{% else %}
								
								
								<tr>
									<td>Processed Result</td>
									<td>
										{{ s.result.result_alphanumeric }}
										{% if s.result.repeat_test == 0 %}
											(Already rescheduled)
										{% elif s.result.repeat_test == 1 %}
											(Ready to be rescheduled)
										{% elif s.result.repeat_test == 3 %}
											(Can be rescheduled in Auth window)
										{% endif %}
									</td>
									<td></td>
									<td></td>
								</tr>
								

								<tr>
									<td>Released?</td>
									<td>{% if s.result.resultsqc.released%} Yes {% else %} No {% endif %}</td>
									<td>{{ s.result.resultsqc.released_by }}</td>
									<td>{{ s.result.resultsqc.released_at }}</td>
								</tr>

								<tr>
									<td>Printed at facility?</td>
									<td>{% if s.resultsdispatch %} Yes {% else %} No {% endif %}</td>
									<td>{{ s.resultsdispatch.dispatched_by }}</td>
									<td>{{ s.resultsdispatch.dispatched_date }}</td>
								</tr>
								
							{% endif %} <!-- End of if not veri -->
							{% if approvals %} 
								<tr>
									<td colspan="4" style="text-align:center">
										<a class="btn btn-xs btn-danger" href="/samples/verify/{{ s.pk }}">change</a>
										<a class="btn btn-xs btn-danger" href="/samples/reverse_approval/{{ s.verification.pk }}/?search_val={{ request.GET.search_val}}">reverse approval</a>
									</td></tr>
								{% endif %}
						</table>
					</span>
					
					<button type="button" class="btn btn-xs btn-danger approved" data-toggle="modal" data-target="#myModal" sample_id="{{ s.pk }}">
						{% if s.verification.accepted %} 
							accepted 
						{% elif s.stage == 20 %}
							sample collection
						{% elif s.stage == 25 or s.stage == 30 %}
							shipment
						{% else %} 
							rejected 
						{% endif %}
						</button>
					{% else %} <!-- else for verification condition -->
						pending 
					{% endif %}
				</td>
				<td>
					{% if remove_sample or switch_sample%}
					 	{% if remove_sample and s.is_data_entered == 0 and s.stage < 2 and s.worksheetsample_set.count < 2 %}
							<label><input type='radio'  name='removals{{ s.pk }}' class='removals' sample-pk="{{ s.pk }}" value='removed'> remove</label>
						{% endif %}
						{% if switch_sample %}
							<label><input type='text'  name='switch_samples{{ s.pk }}' class='switch_samples' sample-pk="{{ s.pk }}" value=''> Save</label>
						{%endif%}
					{% else %}
						{% if approvals and s.is_data_entered == 1  and s.verified == 0 %}  
							<a href="/samples/edit/{{s.id}}?from_page=approvals" class="btn btn-danger btn-sm" style="margin-right: 5px;">Edit</a>
								<label><input type='radio'  name='choices{{ s.pk }}' class='choices' sample-pk="{{ s.pk }}" value='verified'> Verified</label>
						{% else %} 
							<div class="btn-group">
								<button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Options 
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="/samples/show/{{ s.pk }}">view</a>
									</li>
									<li>
										
											<a href="/samples/edit/{{ s.pk }}">edit</a>
										
											<a href="/samples/edit_received/{{ s.pk }}">edit reception</a>
											
									 </li>
										
								</ul>
							</div>
						{% endif %}
					{% endif %}<!-- end if remove sample condition-->
				</td>
			</tr>
			{% endfor %}
		</tbody>
		
	</table>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Stage Details</h4>
      </div>
      <div class="modal-body">
        <p id="approval_details"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var oTable = $('#tab_id').dataTable({
		"processing": true,
		"paging":false,
		"order": [[ 3, "asc" ]],
	});

	$(".choices").on("click",function(){
	 	var choice = $(this).val();
	 	//alert(choice);
	 	var sample_pk = $(this).attr('sample-pk');
	 	if(choice == 'verified'){
	 		var params = {csrfmiddlewaretoken:"{{ csrf_token }}", sample_pk: sample_pk, post_type: 'verify', choice: choice};
	 		$.post("/samples/verify/"+sample_pk+"/", params).done(function( data ) {
			    $("#saved"+params.sample_pk).show();
			  });
	 	}	

	 });

	$(".removals").on("click",function(){
	 	alert('disabled for now');
	 	var sample_pk = $(this).attr('sample-pk');
	 	
 		var params = {csrfmiddlewaretoken:"{{ csrf_token }}", sample_pk: sample_pk};
 		$.post("/samples/remove/"+sample_pk+"/", params).done(function( data ) {
 				var row = document.getElementById(sample_pk);
    		row.parentNode.removeChild(row);
		    //$("#saved"+params.sample_pk).show();
		    $('#tab_id').DataTable().row("#12195042").remove().draw();

		  });
	 	
	 });

	$(".switch_samples").on("change",function(){
		alert('disabled for now');
	 	var correct_fac_ref = this.value;
	 	var sample_pk = $(this).attr('sample-pk');
	 	
 		var params = {csrfmiddlewaretoken:"{{ csrf_token }}", sample_pk: sample_pk,correct_fac_ref:correct_fac_ref};
 		$.post("/samples/switch_samples/"+sample_pk+"/", params).done(function( data ) {
 				var row = document.getElementById(sample_pk);
 				//switch_samples
		  });
	 	
	 });
	

	$(".approved").click(function(){
		var sample_id = $(this).attr('sample_id');
		$("#approval_details").html($("#verify_details"+sample_id).html());		
	});
});
</script>
{% endblock %}
