{% extends "home/layout.html" %}
{% load form_tags %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href='{% static "home/vendor/select2/dist/css/select2.min.css" %}'>
{% endblock %}

{% block js %}
	<script type="text/javascript" src='{% static "home/vendor/select2/dist/js/select2.min.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/moment/min/moment.min.js" %}'></script>
	<script type="text/javascript" src='{% static "home/vendor/combodate/src/combodate.js" %}'></script>
{% endblock %}


{% block content %}	
<div class="page-title">sample details</div>
	
	<div class="panel panel-default">
		<!-- <div class="panel-heading"><b>Capture sample details</b></div> -->


		<div class="panel-body">
			dejkdedwjedkw dewjkdwde dwehjbnwe

			{{ sample.vl_sample_id }}
			
		</body>
	</div>

<script type="text/javascript">
	
</script>

{% endblock %}



